/.bowerrc
/.eslintrc.js
/.gitignore
/.github
/.gitmodules
/.npmignore
/.npmrc
/.nvmrc
/.prettierrc
/.vscode
/bin
/data
/logs
/nest-cli.json
/ops
/scripts
/server/**
!/server/package.json
!/server/dist/**
/src/**
!/src/quran/build/**
*.md
*.tgz
