@import "./fonts/HarmoniaSansPro/MyFontsWebfontsKit.css";

@font-face {
  font-family: "MushafBismillah";
  src: url( "./fonts/Mushaf/v1/woff2/bismillah.woff2" ) format( "woff2" ),
       url( "./fonts/Mushaf/v1/woff/bismillah.woff" ) format( "woff" ),
       url( "./fonts/Mushaf/v1/ttf/bismillah.ttf" ) format( "truetype" );
}

@font-face {
  font-family: "QuranKarim";
  src: url( "./fonts/QuranKarim/QuranKarim.woff" ) format( "woff" ),
       url( "./fonts/QuranKarim/QuranKarim.ttf" ) format( "truetype" );
}

@for $i from 1 through 604 {
  @font-face {
    font-family: "Mushafp#{ $i }";
    src: url( "./fonts/Mushaf/v1/woff2/p#{ $i }.woff2" ) format( "woff2" ),
         url( "./fonts/Mushaf/v1/woff/p#{ $i }.woff" ) format( "woff" ),
         url( "./fonts/Mushaf/v1/ttf/p#{ $i }.ttf" ) format( "truetype" );
  }

  .p#{ $i } {
    font-family: "Mushafp#{ $i }";
  }
}

body {
  margin: 0;
  font-family: "HarmoniaSansPro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
}

a,
button,
input {
  font-family: "HarmoniaSansPro", sans-serif;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #1a73e8;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
  color: #5f6368;
}
