@font-face {
  font-family: "HarmoniaSansPro";
  font-style: normal;
  font-weight: 400;
  src: url( "./fonts/HarmoniaSansPro/HarmoniaSansPro-Regular.woff" ) format( "woff" );
}

@font-face {
  font-family: "HarmoniaSansPro";
  font-style: normal;
  font-weight: 500;
  src: url( "./fonts/HarmoniaSansPro/HarmoniaSansPro-SemiBd.woff" ) format( "woff" );
}

@font-face {
  font-family: "HarmoniaSansPro";
  font-style: normal;
  font-weight: 700;
  src: url( "./fonts/HarmoniaSansPro/HarmoniaSansPro-Bold.woff" ) format( "woff" );
}

@font-face {
  font-family: "QuranKarim";
  src: url( "./fonts/QuranKarim/QuranKarim.ttf" ) format( "truetype" );
}

@for $i from 1 through 604 {
  @font-face {
    font-family: "Mushafp#{ $i }";
    src: url( "./fonts/Mushaf/v1/woff2/p#{ $i }.woff2" ) format( "woff2" ),
         url( "./fonts/Mushaf/v1/woff/p#{ $i }.woff" ) format( "woff" );
  }

  .p#{ $i } {
    font-family: "Mushafp#{ $i }";
  }
}

body {
  margin: 0;
  font-family: "HarmoniaSansPro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button,
input {
  font-family: "HarmoniaSansPro", sans-serif;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
div,
span {
  color: #5f6368;
}
